.statusSection {
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
}

.statusSection,
.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statusHeading {
  font-size: 14px;
}

.statusValue {
  font-size: 12px;
}
